.about_container {
    margin-bottom: 5vh;
    min-height: 25vh;

}

.about_container div {
    display: flex;
    color: gold;
    gap: 1%;
    align-items: center;
    margin-bottom: 0.5vh;

    .title_about {
        width: 4%;
    }

    span {
        width: 95%;
        height: 2px;
        background-color: gold;
    }

}


.about_container h3 {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin-bottom: 4vh;
}

.about_container h2 {
    font-size: 2rem;
    margin-bottom: 4vh;
    letter-spacing: 0.5px;
}

.about_container h2 span {
    color: gold;
}

.about_container ul {
    display: flex;
    gap: 3vw;

}